# zsh completion cache
.zcompdump

# tmux plugins
.config/tmux/plugins

# lazy lock file
.config/nvim/lazy-lock.json

# mpd database
.config/mpd/database

# gpg secret files
private-keys-v1.d
trustdb.gpg
pubring.kbx*
