@import "./mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background-color: @base;
    color: @text;
}

#workspaces button {
    padding: 0 6px;
    color: @text;
    background: transparent;
    border-bottom: 3px solid @base;
}
#workspaces button.focused {
    color: @mag;
    border-bottom: 3px solid @mauve;
}
#workspaces button.persistent {
    color: @text;
}
#workspaces button.visible {
    color: @mauve;
    border-bottom: 3px solid @cstm;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#custom-sep,
#custom-layout,
#battery,
#network,
#pulseaudio,
#idle_inhibitor,
#mpd,
#tray {
    padding: 0 8px;
    color: @text;
}

#custom-sep {
    color: @surface0;
}

#clock {
    color: @sapphire;
    border-bottom: 4px solid @sapphire;
}

#battery {
    color: @green;
    border-bottom: 4px solid @green;
}

#memory {
    color: @mauve;
    border-bottom: 4px solid @mauve;
}

#network {
    color: @red;
    border-bottom: 4px solid @red;
}

#pulseaudio {
  color: @text;
  border-bottom: 4px solid @text;
}

#tray {
    background-color: transparent;
}
