/.local/
/.lsp-session-v1
/auto-save-list/
/backups/
/eln-cache/
/elpa/
/history
/projectile-bookmarks.eld
/projects
/recentf
/transient/
/.cache/
/eshell/
/emms/
/url/
/emojis/
/.dap-breakpoints
/eclipse.jdt.ls/
/workspace/
/elpaca/
/xkcd/
/dirvish/
/tramp
/persp-confs
/org-roam.db
/tree-sitter/
